h1 {
    color: yellow;
    font: serif;
}
body{
width:80%;
background-color: #FF8262;
margin: 0 auto;
height:100%;
font-size: 44px;
}

.center{
    margin-left: 40%;
    margin-right: 40%;
}

.rechner{
margin-top: 100px;
margin-bottom: 20px;
}

input{
font-size: 32px;
padding: 20px;
background-color: #228b22;
}

select{
font-size: 32px;
padding: 20px;
background-color: #228b22
}

button{
font-size: 32px;
padding: 20px;
background-color: #228b22;
color: #030303;

}

.ergebnis{
margin-top: 20px
}

.menu{
margin-left: -200px;
}

.berechnen{
margin-left: 50%;
margin-right: 50%;
}

#rechnung{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#erstezahl {
  padding: 10px;
  flex: 25%;
}

#operatoren {
  padding: 10px;
  flex: 25%;
}

#zweitezahl {
  padding: 10px;
  flex: 25%;
}

textarea{
width: 100%;
height: 65em;
resize:none;
font-family: cursive;
}

.tooltip{
position: relative;
  display: inline-block;
  cursor: default;

}
.tooltip .tooltiptext {
  visibility: hidden;
  padding: 0.25em 0.5em;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 0.25em;
  white-space: nowrap;
  font-size: 20px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 100%;
  transition-property: visibility;
  transition-delay: 0s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  transition-delay: 0.3s;
}

.farbpicker{
height: 60px;
width: 60px;
padding: 10px;
}

.donald{
margin-left: 85%;
margin-top: 20%
}

.quadrat{
    position: absolute;
    top: 40px;
    left: 40px;
}

.rechner-text{
    position: absolute;
    color: white
}

.texteditortext{
    position: absolute;
    color: white;
}